<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>
<h1>Books</h1>
<ul>
    {% for i in book_key %}
    <li>
        <h2>{{i.title}}</h2>
        <p><em>{{i.description}}</em></p>
        <img src="{{i.image.url}}" alt="book">
        <p><strong>{{i.cost}}</strong></p>
        <p>{{i.created_date_book}}</p>
    </li>
    {% endfor %}
</ul>


</body>

<style>
    .flex{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
</style>
</html>